*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: "Nintendo DS BIOS", sans-serif;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  width: 600px;
  height: 600px;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}

.flashing {
  animation: rainbow-flash 1s infinite;
}

@keyframes rainbow-flash {
  0% {
    background-color: rgba(255, 0, 0, 0.5);
  } /* Red */
  16% {
    background-color: rgba(255, 165, 0, 0.5);
  } /* Orange */
  32% {
    background-color: rgba(255, 255, 0, 0.5);
  } /* Yellow */
  48% {
    background-color: rgba(0, 255, 0, 0.5);
  } /* Green */
  64% {
    background-color: rgba(0, 0, 255, 0.5);
  } /* Blue */
  80% {
    background-color: rgba(75, 0, 130, 0.5);
  } /* Indigo */
  100% {
    background-color: rgba(238, 130, 238, 0.5);
  } /* Violet */
}

.grid-container {
  display: grid;
  height: 600px;
  border: solid #b63030 2px;
  grid-template-areas:
    "text-top text-top"
    "human-score computer-score"
    "human-choice computer-choice"
    "main-btn main-btn";
  padding: 10px;
  column-gap: 10px;
  position: relative;
}

.grid-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .score {
  align-items: center;
  justify-content: left;
  height: 60px;
  width: 280px;
  border: solid #b63030 1px;
  background-color: rgb(34, 34, 34);
}

.grid-container .score p {
  margin-left: 15%;
}

.grid-container .choice {
  height: 280px;
  width: 280px;
  border: none;
  overflow: hidden;
}

.text-top {
  height: 100px;
  border: solid #b63030 1px;

  background-color: rgb(34, 34, 34);
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 48px;
  white-space: pre;
}

.grid-container .text-top,
.grid-container .score,
.grid-container .main-btn,
.grid-container .choice,
.grid-container .rps,
.grid-container .start-button-container,
.grid-container .playAgain-button-container {
  display: none;
}

.rps {
  position: absolute;
  border: none;
  width: 100%;
  height: 100px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  color: white;
  font-size: 80px;
}

.main-btn {
  grid-area: main-btn;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  border: solid #b63030 1px;
  background-color: rgb(34, 34, 34);
}

.start-button-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
}

.fade-in {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.play-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.playAgain-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-container .game-over {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: none;
}

.grid-container .timer {
  position: absolute;
  border: none;
  width: 150px;
  height: 100px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  color: white;
  font-size: 70px;
}

#playAgain {
  padding: 20px 26px;
  font-size: 30px;
  font-family: "Nintendo DS BIOS", sans-serif;
  background-color: #b63030;
  color: white;
  border: none;
  cursor: pointer;
}

#play {
  padding: 20px 50px;
  font-size: 30px;
  font-family: "Nintendo DS BIOS", sans-serif;
  background-color: #b63030;
  color: white;
  cursor: pointer;
}

#start {
  padding: 20px 50px;
  font-size: 30px;
  font-family: "Nintendo DS BIOS", sans-serif;
  background-color: #b63030;
  color: white;
  cursor: pointer;
}

.btn {
  font-family: "Nintendo DS BIOS", sans-serif;
  font-size: 25px;
  width: 150px;
  padding: 15px;
  font-weight: 500;
  background: #b63030;
  color: white;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-18px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-18px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.2s;
  animation-timing-function: ease-in-out;
}

.quest-ent-container {
  position: absolute;
  flex-direction: column;
  width: 100%;
  text-align: center;
  z-index: 3;
  bottom: -95px;
}

.quest-ent {
  padding-bottom: 20px;
}

.quest-ent-container.animate {
  animation: moveUp 4s ease-out forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-900%);
  }
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

.rainbow-letter {
  display: inline-block;
  animation: rainbow 5s linear infinite;
  animation-fill-mode: backwards;
}

.rainbow-letter:nth-child(1) {
  animation-delay: 0s;
}
.rainbow-letter:nth-child(2) {
  animation-delay: 0.1s;
}
.rainbow-letter:nth-child(3) {
  animation-delay: 0.2s;
}
.rainbow-letter:nth-child(4) {
  animation-delay: 0.3s;
}
.rainbow-letter:nth-child(5) {
  animation-delay: 0.4s;
}
.rainbow-letter:nth-child(6) {
  animation-delay: 0.5s;
}
.rainbow-letter:nth-child(7) {
  animation-delay: 0.6s;
}
.rainbow-letter:nth-child(8) {
  animation-delay: 0.7s;
}
.rainbow-letter:nth-child(9) {
  animation-delay: 0.8s;
}
.rainbow-letter:nth-child(10) {
  animation-delay: 0.9s;
}
.rainbow-letter:nth-child(11) {
  animation-delay: 1s;
}
.rainbow-letter:nth-child(12) {
  animation-delay: 1.1s;
}
.rainbow-letter:nth-child(13) {
  animation-delay: 1.2s;
}
.rainbow-letter:nth-child(14) {
  animation-delay: 1.3s;
}
.rainbow-letter:nth-child(15) {
  animation-delay: 1.4s;
}
.rainbow-letter:nth-child(16) {
  animation-delay: 1.5s;
}
.rainbow-letter:nth-child(17) {
  animation-delay: 1.6s;
}
.rainbow-letter:nth-child(18) {
  animation-delay: 1.7s;
}
.rainbow-letter:nth-child(19) {
  animation-delay: 1.8s;
}
/* .rainbow-letter:nth-child(20) {
  animation-delay: 1.9s;
}
.rainbow-letter:nth-child(21) {
  animation-delay: 2s;
}
.rainbow-letter:nth-child(22) {
  animation-delay: 2.1s;
}
.rainbow-letter:nth-child(23) {
  animation-delay: 2.2s;
} */
