*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: "Nintendo DS BIOS", sans-serif;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.column {
  width: 600px;
  height: 600px;
  background-color: rgb(87, 87, 87);
  position: relative;
}

.flashing {
  animation: rainbow-flash 1s infinite;
}

@keyframes rainbow-flash {
  0% {
    background-color: rgba(255, 0, 0, 0.5);
  } /* Red */
  16% {
    background-color: rgba(255, 165, 0, 0.5);
  } /* Orange */
  32% {
    background-color: rgba(255, 255, 0, 0.5);
  } /* Yellow */
  48% {
    background-color: rgba(0, 255, 0, 0.5);
  } /* Green */
  64% {
    background-color: rgba(0, 0, 255, 0.5);
  } /* Blue */
  80% {
    background-color: rgba(75, 0, 130, 0.5);
  } /* Indigo */
  100% {
    background-color: rgba(238, 130, 238, 0.5);
  } /* Violet */
}

.grid-container {
  display: grid;
  height: 600px;
  border: solid rgb(253, 253, 253) 2px;
  grid-template-areas:
    "text-top text-top"
    "human-score computer-score"
    "human-choice computer-choice"
    "main-btn main-btn";
  padding: 10px;
  column-gap: 10px;
  position: relative;
}

.grid-container div {
  border: solid rgb(255, 255, 255) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.grid-container .score {
  align-items: center;
  justify-content: left;
  height: 60px;
  width: 280px;
  background-color: rgb(34, 34, 34);
}

.grid-container .score p {
  margin-left: 15%;
}

.grid-container .choice {
  height: 280px;
  width: 280px;
  border: none;
  overflow: hidden;
}

.text-top {
  height: 100px;
  background-color: rgb(34, 34, 34);
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 48px;
}

.grid-container .text-top,
.grid-container .score,
.grid-container .main-btn,
.grid-container .choice {
  display: none;
}

.main-btn {
  grid-area: main-btn;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  background-color: rgb(34, 34, 34);
}

.play-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.playAgain-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#playAgain {
  padding: 20px 26px;
  border-radius: 20px;
  font-size: 30px;
  font-family: "Nintendo DS BIOS", sans-serif;
  background-color: #b63030;
  color: white;
}

#play {
  padding: 20px 50px;
  border-radius: 20px;
  font-size: 30px;
  font-family: "Nintendo DS BIOS", sans-serif;
  background-color: #b63030;
  color: white;
}

.btn {
  font-family: "Nintendo DS BIOS", sans-serif;
  font-size: 25px;
  width: 150px;
  padding: 15px;
  font-weight: 500;
  background: #b63030;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-18px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-18px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.2s;
  animation-timing-function: ease-in-out;
}
